* {
    border-radius:4px;
}
div.col-md-12{
  background-color: rgb(52, 204, 39);
}
#row{
  margin:10px auto;
}
figcaption {
  background-color:white;
    margin:auto;  
   padding:10px;
}
figure{
  background-color:white;
  padding:30px 0px;
}

img{
  width:90%;
  height:90%;
    border-radius:4px;
}
div.container{
  padding:30px;

}
li{
  text-align:left;
}
blockqoute{
  font-size:200%;
}